##Условие 2:
###На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

In [26]:
fruits = ['apples', 'pears', 'plums', 'babanas', 'oranges']
quantity = [10, 3, 157, 15, 11]

In [27]:
def count_qnt(list1: list, list2: list) -> int:
  data = {}
  for i in range(0, len(list1)):
    data[list1[i]] = list2[i]
  total_qnt = sum(data.values())
  return total_qnt

print(f"Total quantity of fruits at warehouse is {count_qnt(fruits, quantity)}.")

Total quantity of fruits at warehouse is 196.

##Условие 3:
###Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты.
###Используйте list comprehensions.

In [28]:
charges = [100, 125, -90, 345, 655, -1, 0, 200]

In [29]:
data_corrected = sum([i if i > 0 else 0 for i in charges])

print(f"Total charges on advertisement are {data_corrected}.")

Total charges on advertisement are 1425.

##Условие 4:
###Даны два списка:

In [30]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24',
        '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20',
        '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09',
        '2021-12-13', '2021-10-26', '2021-12-09']
amount = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822,
          519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

###4.1 Найдите, какая выручка у компании в ноябре.
###Используйте list comprehensions.

In [31]:
income = sum(amount[i] for i in range(len(date)) if '-11-' in date[i])
print(f"Total income in November is {income}.")

Total income in November is 25098.

###4.2 Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
###Используйте аннотирование типов.

In [33]:
def count_income(list1: list, list2: list) -> dict:
  data = {}
  for i in range(len(list1)):
    month = list1[i][5:7]
    if month in data:
      data[month] += list2[i]
    else:
      data[month] = list2[i]
      data = dict(sorted(data.items()))
  return data

income_data = count_income(date, amount)
income_data

{'09': 25647, '10': 28645, '11': 25098, '12': 45452}